.wrapperImage{
  width: 100%;
  height: 100vh;
}

.wrapperImage > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.wrapperSide{
  display: flex;
}
.leftSide{
  width: 55%;
}
.rightSide{
  width: 45%;
}
@media screen and (max-width: 768px) {
  .wrapperSide{
    position: relative;
    flex-direction: column;
  }
  .leftSide{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -9999;
  }
  .rightSide{
    width: 95%;
    margin: auto;
    margin-top: 2rem;
    background-color: rgba(228, 226, 226, 0.699);
    height: 100vh;
    border-radius: 15px 15px 0 0;
  }
}