.container{
  height: 100vh;
  background-color: #B99976;
}
.wrapperMenuList{
  height: 100vh;
  overflow-y: auto;
}
.uList{
  width: 100%;
  padding: 0;
}
.list{
  width: 100%;
  color: black;
  padding: 12px 20px;
}
.list:hover{
  transform: scale(1.01);
  background-color: #886b4d;
}
.active{
  background-color: #a87e52;
}