.wrapperFullPage{
  overflow: hidden;
}
.hide{
  width: 60px;
  transition: 0.6s;
}
.show{
  width: 370px;
  transition: 0.6s;
}
.containerAside{
  height: 100vh;
}
.containerContent{
  width: 100%;
  height: 100vh;
}