body{
  overflow-x: hidden;
  font-size: 1.4em;
  /* font-family: Georgia, serif; */
}
h1{
  margin: 0;
  padding: 0
}
a{
  color: black !important;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Styling Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #6B4EFF; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6648fd; 
}
/* End Styling Scrollbar */

/* Start Global Styling */
.dropzone{
  height: 100%;
  width: 100%;
  border: 0.4px solid grey;
  border-style: dashed;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none !important;
}
ul{
  list-style:none;
}
.auth-title{
  font-size: 2rem;
  font-weight: 700;
}
.auth-desc{
  font-size: 1.2rem;
  font-weight: 700;
  width: 90%;
  text-align: center;
}
.font-17{
  font-size: 1.0625rem;
}
.font-16{
  font-size: 1rem;
}
.font-14{
  font-size: 0.875rem;
}
.font-10{
  font-size: 0.625rem;
}
.font-weight-700{
  font-weight: 700;
}
.font-weight-600{
  font-weight: 600;
}
.font-weight-500{
  font-weight: 500;
}
.font-weight-400{
  font-weight: 400;
}
/* End Global Styling */